<span
	data-popup-width=500
	data-popup-height=230
	data-popup-title='Договор'
>

	<!-- <style>
		input[data-block-name=contract_new] {
			width: 270px !important;
		}
	</style> -->

	<div class="w2ui-reset w2ui-form" style="height:180px; margin:8px 0 0 0;">

        <div class="w2ui-page page-0">
			<div class="w2ui-field">
				<label>Номер:</label>
				<div>
					<input name=number required>
				</div>
			</div>

			<div class="w2ui-field">
				<label>Дата начала действия:</label>
				<div>
					<input type="date" name=date_start required>
				</div>
			</div>

			<div class="w2ui-field">
				<label>Дата окончания действия:</label>
				<div>
					<input type="date" name=date_end required>
				</div>
			</div>

        </div>

        <div class="w2ui-buttons">
			<button class=w2ui-btn name=update data-hotkey=Ctrl-Enter>Сохранить</button>
        </div>

	</div>

</span>